/* 
=============================================================================
    HOME BOX ABOUT ME
    - Responsive
=============================================================================
*/


.home-about-me-box-grid {
    display: flex;
}


/* 
=============================================================================
    HOME BOX ABOUT ME
    - Small Screen
=============================================================================
*/



@media (max-width: 850px) {

    .home-about-me-box-container{
        flex-grow: 1;
        margin-top: 2vh;
    }

    .home-about-me-box-img{
        display: none;
    }

    .home-intro-box-container{
        flex-grow: 1;
        margin-top: 20vw;
    }

    .home-about-me-box-container{
        flex-grow: 1;
        margin-top: 5vw;
    }

    .home-about-me-box-grid-second-box-img{
        width: 80%;
        max-width: 70px;
    }    

    .home-about-me-box-grid {
        flex-direction: column;
    }

    .home-about-me-box-box>h1{
        text-align: center;
        font-size: 3rem;
        display: block;
        margin-bottom: 2vh;
    }

    .home-about-me-box-typography{
        text-align: justify;
    }

    .home-about-me-box-grid-second{
        margin-top: 3vh;
        justify-content: space-around;
    }

}



/* 
=============================================================================
    HOME BOX INTRODUCTION
    - Medium Screen
=============================================================================
*/



@media (min-width: 851px) and (max-width: 1899px) {

    .home-about-me-box-box{
        width: fit-content;
    }

    .home-about-me-box-grid-second-box-img{
        width: 60%;
    }   

    .home-about-me-box-img{
        width: 80%;
        height: 95%;
    }

    .home-about-me-box-box>h1{
        text-align: center;
        font-size: 3rem;
        display: block;
        margin-bottom: 2vh;
    }

    .home-about-me-box-typography{
        text-align: justify;
    }

    .home-about-me-box-grid-second{
        margin-top: 3vh;
        justify-content: space-between;
    }
}



/* 
=============================================================================
    HOME BOX ABOUT ME
    - Big Screen
=============================================================================
*/


@media (min-width: 1900px) and (max-width: 2399px){


    .home-about-me-box-box{
        width: fit-content;
    }

    .home-about-me-box-grid-second-box-img{
        width: 60%;
    }   

    .home-about-me-box-img{
        width: 85%;
        height: 100%;
    }

    .home-about-me-box-box>h1{
        text-align: center;
        font-size: 3rem;
        display: block;
        margin-bottom: 2vh;
    }

    .home-about-me-box-typography{
        text-align: justify;
    }

    .home-about-me-box-grid-second{
        margin-top: 3vh;
        justify-content: space-between;
    }


}



/* 
=============================================================================
    HOME BOX INTRODUCTION
    - Biggest Screen 
=============================================================================
*/



@media (min-width: 2400px){

    .home-about-me-box-box{
        width: fit-content;
    }

    .home-about-me-box-grid-second-box-img{
        width: 60%;
    }   

    .home-about-me-box-img{
        width: 90%;
        height: 95%;
    }

    .home-about-me-box-box>h1{
        text-align: center;
        font-size: 3rem;
        display: block;
        margin-bottom: 2vh;
    }

    .home-about-me-box-typography{
        text-align: justify;
    }

    .home-about-me-box-grid-second{
        margin-top: 3vh;
        justify-content: space-between;
    }
    
}