
/* 
=============================================================================
    HOME BOX PROJECTS
    - Responsive
=============================================================================
*/

a{
    text-decoration: none;
}

.home-projects-box-container{
    height: 100% ;
}

.home-projects-box-typography{
    text-align: center;
    align-content: center;
    text-decoration: underline;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


.home-projects-box-grid{
    justify-content: space-around;
}

.home-projects-box-img{
    width: 80%;
    height: 50%;
    position: relative;
    border-radius: 15px;
}

.home-projects-box-img-hover{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.home-projects-box-grid-second{
    height: fit-content;
}

.home-projects-box-grid-second>p{
    text-align: justify;
    display: block;
    margin-bottom: 2vh;
}

.home-projects-box-grid-second>h3{
    text-align: justify;
}

.home-projects-box-grid-second{
    text-align: center;
}

.home-projects-box-grid-hover{   
    display: flex;
}

.home-projects-box-button-container-hover{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-bottom: 1vh;
}

.home-projects-box-grid-hover-tech-second{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1vh;
}

.home-projects-box-button-container-hover>button{
    width: 40%;
}

.home-projects-box-img-hover-tech{
    width: 20%;
    height: 100%;
}

.home-projects-box-grid-hover-second-typography-box>h2
{
    font-size: 2.7rem;
}

#size_hover_box_typography_title{
    font-size: 2.5rem;
}

/* 
=============================================================================
    HOME BOX PROJECTS
    - Small Screen
=============================================================================
*/

@media (max-width: 850px) {

    .home-projects-box-img{
        width: 70%;
        max-width: 420px;
        max-height: 80%;
    }

    .home-projects-box-grid-hover-second{
        width: 100%;
    }

    .home-projects-box-grid-hover{   
        flex-direction: column-reverse;
    }
   

    .home-projects-box-img-hover{
       max-height: 350px;
    }

    .home-projects-box-img-hover-tech{
        max-height: 150px;
        max-width: 80px;
    }

}



/* 
=============================================================================
    HOME BOX PROJECTS
    - Medium Screen
=============================================================================
*/



@media (min-width: 851px) and (max-width: 1899px) {
    
    .home-projects-box-img-hover-tech{
        max-height: 150px;
        max-width: 120px;
    }
    
}




/* 
=============================================================================
    HOME BOX PROJECTS
    - Big Screen
=============================================================================
*/


@media (min-width: 1900px) and (max-width: 2399px){
    .home-projects-box-img-hover-tech{
        max-height: 200px;
        max-width: 170px;
    }
    
}



/* 
=============================================================================
    HOME BOX PROJECTS
    - Biggest Screen 
=============================================================================
*/



@media (min-width: 2400px){

    .home-projects-box-img-hover-tech{
        max-height: 300px;
        max-width: 280px;
    }

}

