/* 
=============================================================================
    HOME BOX TESTIMONIAL
    - Responsive
=============================================================================
*/

.home-brands-box-container{
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.home-brands-box-typography{
    font-size: 3.75rem;
}

.home-brands-box-img{
    width: 100%;
}

.home-brands-box-grid-second>img{
    border: 0.5px solid #00000012
}


/* 
=============================================================================
    HOME BOX TESTIMONIAL
    - Small Screen
=============================================================================
*/

@media (max-width: 850px) {
    
    .home-brands-box-img{
        max-width: 130px;
    }

}



/* 
=============================================================================
    HOME BOX TESTIMONIAL
    - Medium Screen
=============================================================================
*/



@media (min-width: 851px) and (max-width: 1899px) {

    .home-brands-box-img{
        max-width: 160px;
    }
    
}




/* 
=============================================================================
    HOME BOX TESTIMONIAL
    - Big Screen
=============================================================================
*/


@media (min-width: 1900px) and (max-width: 2399px){

    .home-brands-box-img{
            max-width: 200px;
    }
    
}




/* 
=============================================================================
    HOME BOX TESTIMONIAL
    - Biggest Screen 
=============================================================================
*/



@media (min-width: 2400px){

    .home-brands-box-img{
            max-width: 250px;
    }

}

