/* 
=============================================================================
    HOME BOX INTRODUCTION
    - Responsive
=============================================================================
*/


.home-intro-box-container{
    flex-grow: 1;
    margin-top: 10vw;
    width: 100%;
}


.home-intro-box-box{
    align-content: center;
    width: 50%;
}

.home-intro-box-typography{
    display: block;
    text-align: left;
    white-space: nowrap;
}

#typography-introBox-name{
    text-indent: 1vw;
}

#typography-introBox-name,
#typography-introBox-prefix-name{
    font-size: 3rem;
}

#typography-span-index-0::after{
    content: "&";
    margin-left: 5px;
    opacity: 1;
}


.home-intro-box-typography-span{
    display: block;
    font-size: 1.5rem;
}


.home-intro-box-img,
.home-about-me-box-img{
    width:  100%;
    display: block;
    box-sizing: border-box;
    border-radius: 15px;
}



/* 
=============================================================================
    HOME BOX INTRODUCTION
    - Small Screen
=============================================================================
*/

@media (max-width: 850px) {

    .home-intro-box-container{
        flex-grow: 1;
        margin-top: 25vw;
        width: 100%;
        height: 100%;
    }

    .home-intro-box-grid{
        display: flex;
        flex-direction: column-reverse;
    }

    .home-intro-box-box,
    .home-about-me-box-box{
        align-content: center;
        width: 100%;
        margin: 2vh auto;
    }

    .home-intro-box-grid:first-child{
        justify-items: center;
    }
   
    #typography-introBox-name,
    #typography-introBox-prefix-name{
        font-size: 2rem;
        text-align: left;
    }

    #typography-introBox-name{
        text-indent: 2vw;
        text-align: left;
    }

    .home-intro-box-typography{
        display: block;
        text-align:left;
    }

    .home-intro-box-typography-span{
        display: block;
        font-size: 1.2rem;
    }

    .home-intro-box-img,
    .home-about-me-box-img{
        width: 50%;
        margin: auto;
        margin-bottom: 2vh;
    }
}



/* 
=============================================================================
    HOME BOX INTRODUCTION
    - Medium Screen
=============================================================================
*/



@media (min-width: 851px) and (max-width: 1899px) {
    
    .home-intro-box-container{
        min-height: 60vw;
        max-height: 80vw;
    }

    .home-intro-box-grid{
        display: flex;
        flex-direction: row;
    }
    
    .home-intro-box-img,
    .home-about-me-box-img{
        width: 65%;
        margin: auto;
        margin-bottom: 2vh;
    }
}




/* 
=============================================================================
    HOME BOX INTRODUCTION
    - Big Screen
=============================================================================
*/


@media (min-width: 1900px) and (max-width: 2399px){

    .home-intro-box-container{
        min-height: 40vw;
        max-height: 60vw;
    }

    #typography-introBox-name{
        font-size: 3rem;
    }

    .home-intro-box-typography-span,
    #typography-introBox-prefix-name{
        font-size: 2rem;
    }

    .home-intro-box-grid{
        display: flex;
        flex-direction: row;
    }

    .home-intro-box-img,
    .home-about-me-box-img{
        width: 70%;
        margin: auto;
        margin-bottom: 2vh;
    }
    
}



/* 
=============================================================================
    HOME BOX INTRODUCTION
    - Biggest Screen 
=============================================================================
*/



@media (min-width: 2400px){

    .home-intro-box-container{
        min-height: 40vw;
        max-height: 50vw;
    }

    #typography-introBox-name{
        font-size: 3rem;
    }

    .home-intro-box-typography-span,
    #typography-introBox-prefix-name{
        font-size: 2rem;
    }

    .home-intro-box-grid{
        display: flex;
        flex-direction: row;
    }

    .home-intro-box-img,
    .home-about-me-box-img{
        width: 70%;
        margin: auto;
        margin-bottom: 2vh;
    }
    
}