/* 
=============================================================================
    HOME BOX TECHNOLOGIES
    - Responsive
=============================================================================
*/

.home-technologies-box-container{
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
    height: 100%;
}

.home-technologies-box-grid{
    justify-content: space-around;
    margin-top: 5vh;
}


.home-technologies-box-grid-second{
    text-align: center;
    margin:0.3rem
}

/* 
=============================================================================
    HOME BOX TECHNOLOGIES
    - Small Screen
=============================================================================
*/

@media (max-width: 850px) {

    .home-technologies-box-container{
        margin-bottom: 10vh;
    }
    
    .home-technologies-box-img{
        width: 70%;
        max-width: 70px;
    }

    .home-technologies-box-grid-title{
        font-size: 3rem;
    }

}



/* 
=============================================================================
    HOME BOX TECHNOLOGIES
    - Medium Screen
=============================================================================
*/



@media (min-width: 851px) and (max-width: 1899px) {
    
    .home-technologies-box-container{
        margin-bottom: 40vh;
    }

    
    .home-technologies-box-img{
        width: 30%;
    }

    .home-technologies-box-grid-title{
        font-size: 3rem;
    }
    
}




/* 
=============================================================================
    HOME BOX TECHNOLOGIES
    - Big Screen
=============================================================================
*/


@media (min-width: 1900px) and (max-width: 2399px){

    .home-technologies-box-container{
        margin-bottom: 35vh;
    }
    
    .home-technologies-box-img{
        width: 35%;
    }

    .home-technologies-box-grid-title{
        font-size: 3rem;
    }
    
}



/* 
=============================================================================
    HOME BOX TECHNOLOGIES
    - Biggest Screen 
=============================================================================
*/



@media (min-width: 2400px){

    .home-technologies-box-container{
        margin-bottom: 32vh;
    }

    
    .home-technologies-box-img{
        width: 40%;
    }
    

}

