/* 
=============================================================================
    HOME APP BAR
    - Responsive
=============================================================================
*/

.home-appbar-div{
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
}

.home-header-appbar-typography-box{
    flex-grow: 1;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.home-header-appbar-typography:hover{
    text-decoration: underline;
}

.home-header-button-appbar{
    border: "1px solid black";
    width: 3vw;
    height: 6vh;
    border-radius: 5px;
}

.home-header-button-appbar-box{
    display: flex;
    border: "1px solid black";
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: auto 2vw;
}


/* 
=============================================================================
    HOME BOX INTRODUCTION
    - Responsive
=============================================================================
*/

.home-intro-box-container{
    flex-grow: 1;
    margin-top: 10vw;
    width: 100vw;
}


.home-intro-box-box{
    align-content: center;
    width: 50%;
}

.home-intro-box-typography{
    display: block;
    text-align: left;
    text-wrap: nowrap;
}

#typography-introBox-name{
    text-indent: 1vw;
}

#typography-introBox-name,
#typography-introBox-prefix-name{
    font-size: 3rem;
}

#typography-span-index-0::after{
    content: "&";
    margin-left: 5px;
    opacity: 1;
}


.home-intro-box-typography-span{
    display: block;
    font-size: 1.5rem;
}


.home-intro-box-img,
.home-about-me-box-img{
    width:  100%;
    display: block;
    box-sizing: border-box;
    border-radius: 15px;
}



/* 
=============================================================================
    HOME BOX ABOUT ME
    - Responsive
=============================================================================
*/


.home-about-me-box-container{
    flex-grow: 1;
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 90vw;
}

.home-about-me-box-grid{
    height: fit-content;
}

.home-intro-box-grid{
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-about-me-box-typography{
    text-align: justify;
    align-content: center;
    font-size: 1rem;
    position: relative;
}

#typography-aboutMe-title{
    font-size: 2.5rem;
    margin-bottom: 1.5vh;
    margin-top: 1vh;
    text-align: center;
}

.home-about-me-box-img{
    height: 100%;
    max-height: 50rem;
    min-height: 25rem;
    width: 95%;
}



.home-about-me-box-grid-second{
    margin-top: 4vh;
    align-items: center;
    justify-content: flex-start;
}

.home-about-me-box-grid-second-box{
    width: 12%;
}

.home-about-me-box-grid-second-box-img{
    width: 80%;
}

.home-about-me-box-grid-second-box-button {
    height: 3rem;
}

.home-about-me-box-grid-second-box-button:hover{
    background-color: #00000075;
}

/* 
=============================================================================
    HOME BOX TECHNOLOGIES
    - Responsive
=============================================================================
*/

.home-technologies-box-container{
    width: 100%;
    height: fit-content;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.home-technologies-box-grid{
    justify-content: space-around;
    margin-top: 5vh;
}

.home-technologies-box-grid-second{
    width: 10%;
}

.home-technologies-box-img{
    width: 80%;
}




/* 
=============================================================================
    HOME BOX PROJECTS
    - Responsive
=============================================================================
*/


.home-projects-box-container{
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.home-projects-box-typography{
    text-align: center;
    align-content: center;
    text-decoration: underline;
    margin-bottom: 15vh;
    padding-top: 5vh;
}

.home-projects-box-grid{
    justify-content: space-around;
}

.home-projects-box-grid-second{
    width: 40%;
    margin: 1vh auto;
}

.home-projects-box-img{
    width: 100%;
    height: 50%;
}

.home-projects-box-img-hover{
    width: 100%;
}

.home-projects-box-img-hover-tech{
    width: 6vw;
    margin: auto 0.5rem;
}

.home-projects-box-button-container-hover{
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
}

.home-projects-box-grid-hover-tech{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.home-projects-box-grid-hover-tech-second{
    width: 100%;
}

.home-projects-box-button-hover{
    width: 40%;
}

/* 
=============================================================================
    HOME
    - Small Screen
=============================================================================
*/


@media (max-width: 850px) {

    /* 
    =============================================================================
        HOME APP BAR
        - Small Screen
    =============================================================================
    */

    .home-header-button-appbar{
        width: 20vw;
        height: 8vh;
        margin: auto ;
    }

    .home-appbar-div-appbar-toolbar{
        justify-content: space-evenly;
    }

    .home-header-appbar-typography,
    .home-header-appbar-typography-box{
        display: none;
    }


     /* 
    =============================================================================
        HOME BOX INTRODUCTION
        - Small Screen
    =============================================================================
    */

    #home-intro-box-grid{
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .home-intro-box-box,
    .home-about-me-box-box{
        align-content: center;
        width: 100%;
        margin: 2vh auto;
    }
   
    #typography-introBox-name,
    #typography-introBox-prefix-name{
        font-size: 2rem;
    }

    #typography-introBox-name{
        text-indent: 2vw;
    }

    .home-intro-box-typography{
        display: block;
        text-align:start;
    }

    .home-intro-box-typography-span{
        display: block;
        font-size: 1.2rem;
    }

    .home-intro-box-img,
    .home-about-me-box-img{
        width: 100%;
        margin-bottom: 2vh;
    }


    /* 
    =============================================================================
        HOME BOX ABOUT ME
        - Small Screen
    =============================================================================
    */

    

    .home-about-me-box-container{
        flex-grow: 1;
        margin-top: 2vh;
    }

    .home-about-me-box-img{
        height: 100%;
    }

    .home-intro-box-container{
        flex-grow: 1;
        margin-top: 20vw;
    }

    .home-about-me-box-container{
        flex-grow: 1;
        margin-top: 5vw;
    }

    /* 
    =============================================================================
        HOME BOX PROJECTS
        - Small Screen
    =============================================================================
    */
    .home-projects-box-typography{
        margin-bottom: 10vh;
    }

    .home-projects-box-grid{
        flex-direction: column;
    }

    .home-projects-box-img{
        max-height: 20vh;
    }

    .home-projects-box-img-hover{
        margin-bottom: 1vh;
    }

    .home-projects-box-grid-second{
        width: 100%;
        margin: 2vh auto;
    }
   
    .home-projects-box-grid-hover{
        flex-direction: column-reverse;
    }

    #size_hover_box_typography_title{
        font-size: xx-large;
    }

    .home-projects-box-grid-hover-second{
        width: 100%;
    }

    .home-projects-box-img-hover-tech{
        width: 15%;
        margin: auto 0.5rem;
    }

    .home-projects-box-button-container-hover {
        margin-bottom: 2vh;
    }
}

